@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
.mrovpl-video-player,
.mrovpl-video-player * {
  box-sizing: border-box;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
.mrovpl-video-player {
  width: 100%;
  height:340px;
  display: inline-block;
  position: relative;
  background-color: #222;
  overflow: hidden;

}
.mrovpl-video-player.mrovpl-fullscreen {
  width: 100% !important;
  height:100% !important;
  position: fixed;
  z-index: 9999999999999999999999999999;
  left: 0px;
  top:0px;
}

.mrovpl-video-player .mrovpl-buffering ,
.mrovpl-video-player .mrovpl-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #252428;
  background-size: cover;
  background-repeat: no-repeat;


}
.mrovpl-video-player .mrovpl-buffering {
  background-color: rgba(37,36,40,0.5);
  display: none;
  z-index: 1;
}
.mrovpl-video-player .mrovpl-buffering.active {
  display: block;
}
.mrovpl-video-player .mrovpl-buffering i {
  width: 40px;
  height:40px;
  font-size: 30pt;
  position: absolute;
  top: 0px;
  left: 0px;
  right:0px;
  bottom: 0px;
  margin: auto;
  color: #FFF;

  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.mrovpl-video-player .mrovpl-image .mrovpl-play-icon {
  width: 100%;
  height:100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;

}
.mrovpl-video-player .mrovpl-image .mrovpl-play-icon .mrovpl-st-icon {
  width: 60px;
  height:60px;
  background-color: #e0e0e0;
  border-radius: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right:0px;
  bottom: 0px;
  margin: auto;

}
.mrovpl-video-player .mrovpl-image .mrovpl-play-icon .mrovpl-st-icon i {
  width: 32px;
  height:40px;

  font-size: 30pt;
  position: absolute;
  top: 0px;
  left: 0px;
  right:0px;
  bottom: 0px;
  margin: auto;
}
.mrovpl-video-player.mrovpl-start .mrovpl-image {
  display: none;
}
.mrovpl-video-player .mrovpl-main-vid-container {
  width: 100%;
  height:100%;
  position: relative;

}
.mrovpl-video-player .mrovpl-main-vid-container > .mrovpl-main-video {
  width: 100%;
  height:100%;

  top:0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: none;
}
.mrovpl-video-player.mrovpl-start .mrovpl-main-vid-container > .mrovpl-main-video {
  display: block;
}
.mrovpl-video-player .mrovpl-control-bar {
  width: 100%;
  height: 50px;
  background-color: #252428;
  background-color: rgba(37,36,40,0.8);
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-left: 115px;
  padding-right: 115px;
  display: none;
  z-index: 2;


}
.mrovpl-video-player.mrovpl-start .mrovpl-control-bar {
  display: block;
}

.mrovpl-video-player .mrovpl-control-bar .mrovpl-buttons-group {
  width: auto;
  white-space: nowrap;
  position: absolute;
  top: 10px;

  cursor: default;
}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-buttons-group.mrovpl-right-buttons {
  right: 10px;
}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-buttons-group.mrovpl-left-buttons {
  left: 10px;
}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-button-frame {
  width: auto;
  height: auto;
  display: inline-block;
  position: relative;
}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-button {
  width: 21px;
  margin: 0px 4px;
  height:30px;
  background-color: transparent;
  padding: 0px;
  border: none;
  text-align: center;
  outline: none;
  cursor: pointer;

}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-button.mrovpl-text-mode {
  color: #FFF;
  height: 10px;
  position: relative;
  top: -2px;
}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-button.mrovpl-text-mode:hover {
  color: #fa634e;
}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-button i {
  font-size: 16px;
  color: #FFF;

}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-button:hover i {
  color: #fa634e;
}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-button.active ,
.mrovpl-video-player .mrovpl-control-bar .mrovpl-button.active i{
  color: #fa634e;
}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-proggress-bar {
  width: 100%;
  height:4px;
  cursor: pointer;
  top: 20px;
  position: relative;
}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-proggress-bar:before {
  content: '';
  width: 100%;
  height:2px;
  position: absolute;
  top: 1px;
  background-color: #454548;
}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-proggress-bar .mrovpl-total-time,
.mrovpl-video-player .mrovpl-control-bar .mrovpl-proggress-bar .mrovpl-current-time {
  position: absolute;
  white-space: nowrap;
  top: 9px;
  left:0px;
  font-family: Tahoma;

  color: #FFF;
  font-size: 11px;
}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-proggress-bar .mrovpl-total-time {
  right: 0px;
  left: auto;


}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-proggress-bar .mropl-proggress-buffer {
  width: 100%;
  height:4px;
  position: absolute;
  background-color: #4f4f4f;
  background-color: transparent;
}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-proggress-bar .mropl-proggress-buffer .mrovplBufferCanvas {
  width: 100%;
  height:4px;

  margin: 0px;
  padding:0px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-proggress-bar .mropl-proggress {
  width: 0%;
  height:4px;
  position: absolute;
  background-color: #fa634e;
  /*display: none;*/
}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-proggress-bar .mropl-proggress-handel {
  width: 8px;
  height:8px;
  background-color: #fa634e;
  background-color: #fa634e;
  position: absolute;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  border-radius:100%;
  top: -2px;
  left: 0%;
  transform-origin: center center;
  cursor: pointer;
}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-proggress-bar .mropl-proggress-handel:after {
  content: '';
  width: 16px;
  height:16px;
  position: absolute;
  top: -4px;
  left:-4px;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  border-radius:100%;
  background-color: rgba(250,99,78,0.3);
}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-proggress-bar .mropl-proggress-handel:hover:after {

  width: 22px;
  height:22px;

  top: -7px;
  left:-7px;

}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-volume-changer {
  width: 25px;
  height:100px;
  background-color: #252428;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  bottom: 40px;
  border-radius: 3px 3px 0 0;
  display: none;
}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-volume-changer:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7.5px 0 7.5px;
  border-color: #252428 transparent transparent transparent;
  bottom: -10px;
  position: absolute;
  left: 5px;
}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-volume-changer .mrovpl-v-progress-bar {
  width: 15px;
  height: 80px;
  position: absolute;
  top:  10px;
  left: 5px ;
  cursor: pointer;
}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-volume-changer .mrovpl-v-progress-bar:before {
  content: '';
  width: 2px;
  height:100%;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  top: 0px;
  background-color: #454548;
}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-volume-changer .mrovpl-v-progress-bar .mrovpl-v-progress-handel {
  width: 8px;
  height: 8px;
  border-radius: 100%;

  -ms-transform-origin: 50% 50%; /* IE 9 */
  -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
  transform-origin: 50% 50%;
  cursor: pointer;
  background-color: #fa634e;
  position: absolute;
  margin: auto;
  left: 0px;
  right: 0px;

  bottom:65%;
}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-volume-changer .mrovpl-v-progress-bar .mrovpl-v-progress-handel:before {
  content: '';
  width: 16px;
  height:16px;
  position: absolute;
  top: -4px;
  left: -4px;

  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  border-radius:100%;
  background-color: rgba(250,99,78,0.3);

}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-volume-changer .mrovpl-v-progress-bar .mrovpl-v-progress-handel:hover:before {

  width: 22px;
  height:22px;

  top: -7px;
  left: -7px;


}
.mrovpl-video-player .mrovpl-control-bar .mrovpl-volume-changer .mrovpl-v-progress-bar .mrovpl-v-progress {
  width: 4px;
  height:65%;
  position: absolute;
  bottom:0px;
  left: 0px;
  right: 0px;
  margin:auto;
  background-color: #fa634e;


}

.mrovpl-video-player .mrovpl-control-bar .morvpl-quality-changer {
  width: auto;
  height:auto;
  background-color: #252428;
  position: absolute;
  right: -5px;
  margin: auto;
  bottom: 35px;
  border-radius: 3px 3px 0 0;
  padding: 10px 5px;
  display: none;
}
.mrovpl-video-player .mrovpl-control-bar .morvpl-quality-changer:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7.5px 0 7.5px;
  border-color: #252428 transparent transparent transparent;
  bottom: -10px;
  position: absolute;
  right: 8px;
}
.mrovpl-video-player .mrovpl-control-bar .morvpl-quality-changer .mrovpl-quality {

  display: block;
  float: right;
  background-color: #fa634e;
  background-color: transparent;
  border: none;
  margin-bottom: 5px;
  border-radius: 5px;
  color: #cdcdcd;
  font-size: 9pt;
  font-weight: normal;
  cursor: pointer;
}
.mrovpl-video-player .mrovpl-control-bar .morvpl-quality-changer .mrovpl-quality:hover {
  color: #e8e8e8;
}
.mrovpl-video-player .mrovpl-control-bar .morvpl-quality-changer .mrovpl-quality.active {
  background-color: #fa634e;
  color:#FFF;
}
/* -------------------------------------------------------- */
/* Icons                                                    */
/* -------------------------------------------------------- */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x60zfi');
  src:  url('fonts/icomoon.eot?x60zfi#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?x60zfi') format('truetype'),
  url('fonts/icomoon.woff?x60zfi') format('woff'),
  url('fonts/icomoon.svg?x60zfi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-display:before {
  content: "\e956";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-spinner4:before {
  content: "\e97d";
}
.icon-spinner5:before {
  content: "\e97e";
}
.icon-spinner8:before {
  content: "\e981";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-spinner10:before {
  content: "\e983";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-shrink:before {
  content: "\e98a";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-backward2:before {
  content: "\ea1f";
}
.icon-forward3:before {
  content: "\ea20";
}
.icon-first:before {
  content: "\ea21";
}
.icon-last:before {
  content: "\ea22";
}
.icon-previous2:before {
  content: "\ea23";
}
.icon-next2:before {
  content: "\ea24";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-volume-low:before {
  content: "\ea28";
}
.icon-volume-mute:before {
  content: "\ea29";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-volume-increase:before {
  content: "\ea2b";
}
.icon-volume-decrease:before {
  content: "\ea2c";
}
.icon-loop:before {
  content: "\ea2d";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-infinite:before {
  content: "\ea2f";
}
.icon-shuffle:before {
  content: "\ea30";
}
.icon-pause:before {
  content: "\e900";
}
.icon-play:before {
  content: "\e901";
}



